/* CSS Rule for Universal Selector (wildcat) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remaining CSS Rules */
main {
    max-width: 840px;
}

aside {
    position: relative; /* Set position relative for the container */
    width: 20em;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* border syntax */
    padding: 1rem;
    background-color: #eee; /* background color */
    color: #f8f1f1; /* text color */
    text-align: center;
}

aside > * {
    margin: 0.5rem; /* Adjust margin of inner elements */
}

main img {
    width: 130px;
    height: auto;
    float: right; /* Float the image to the right */
    margin-left: 10px; /* Add some space between the image and the paragraph */
}

aside h2 {
    position: absolute; /* Set position absolute for the heading */
    top: 50px; /* Position from top */
    left: 150px; /* Position from left */
    /*background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    /*color: white; /* Text color */
    /*padding: 5px; /* Padding */ 
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
/* Styling for the "box" class */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* border syntax */
    background-color: rgb(99, 98, 98); /* background color */
    color: white; /* text color */
}

/*last update 15/05/2024*/
