/* CSS Rule for Universal Selector (wildcat) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remaining CSS Rules */
main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* border syntax */
    padding: 1rem;
    background-color: #eee; /* background color */
    color: #333; /* text color */
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
/* Styling for the "box" class */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* border syntax */
    background-color: darkgoldenrod; /* background color */
    color: white; /* text color */
}

/*Last update 15/05/2024 */